body {
  background-color: mintcream;
}

.navbar .container-fluid .logo {
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 26px;
}

.center {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-title a {
  text-decoration: none !important;
  color: #000;
}

.blog-title a:hover {
  color: #dc3545;
}

.category-nav a{
  
  padding: 0.4rem;
}

.category-nav a:hover{
  background-color: #dc3545;
  color: #fff !important;
  border-radius: 10px;
}

.form select {
  display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.breadcrumb a{
  color: #dc3545 !important;
  text-decoration: none;
  margin: 0 8px;
}

/* Recent Posts CSS */
.recent-blogs .row a{
  color: #000;
  text-decoration: none;
}

.recent-blogs .row a:hover{
  color: #dc3545 !important;
}

.recent-blogs img{
  width: 211px;
  height: 216px;
}