body {
  background-color: mintcream;
}

.navbar .container-fluid .logo {
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 26px;
}

.center {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container .card-title a {
  text-decoration: none !important;
  color: #000;
}

.grid-container .card-title a:hover {
  color: rgb(117 117 117);
  letter-spacing: 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-container .showcard .card {
  text-align: center;
  padding: 1.5em 0.5em 0.5em;
}

.grid-container .showcard .card-body {
  padding: 0;
}

.showcard .card {
  margin-right: 54px;
  margin-top: 2em;
  padding: 1.5em;
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.showcard .card .card-title {
  font-weight: 700;
  font-size: 1.5em;
}

.showcard .card .btn:hover {
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.showcard .card .card_btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}